.sidebar {
  width: 74.4vw;
  height: 100vh;
  border: #665d5d5d solid 1px;
  font-size: 20px;
}

.sidebarClose {
  width: 0vw;
}

.sidebar-header {
  background-color: #1b166e;
  width: 100%;
  height: 19.5vh;
}

.c-liItemBorder {
  border-top: #665d5d5d 1px solid;
}

.c-UserLiItem {
  font-size: 24px;
  padding: 1.8vh 0 1.8vh 0;
  color: #5d5d5d;
  height: 10.86vh;
  font-family: Assistant-SemiBold;
}
.sidebar-options {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}
.arrow {
  position: absolute;
  left: 2.5vh;
}

.c-subLiItem {
  height: 7.65vh;
  padding-top: 2vh;
  color: #15457d;
}

.c-liItem {
  height: 7.65vh;
  padding-top: 2vh;
  color: #15457d;
  position: relative;
}

.log-out > div > .c-liItem {
  position: absolute;
  bottom: 0px;
  height: 16.3vh;
  padding-top: 5vh;
}

.c-subLiItem img {
  visibility: hidden;
}

.sidebar-header {
  position: relative;
}
.sidebar-header > span {
  position: absolute;
  left: 1.5vh;
  top: 2.2vh;
  color: white;
  width: 2.8vh;
  height: 2.8vh;
}
.sidebar-header > img {
  position: absolute;
  top: 5vh;
  right: 3vw;
  width: 80%;
}
