

.p-login {
    height: 640px;
    text-align: center;
    background-color: #1b166e;
    padding: 0px;
    color : white;
    font-weight: bold;
}



.p-login .input-text, .p-login .submit-button {
    border-radius: 20px;
    text-align: center;

    width: 310px;
    height: 50px;
}
.p-login .submit-button {
    border-radius: 20px;
    background-color: white;
   
}
.p-login .input-text {
    background-color: #1b166e;
    border-color: white;
}

.p-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p-lineup {
    display: flex;
}