.report-btn {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #f8f8f8;
  border-width: 0.5px;
  border-style: solid;
  /* border-color: #707070; */
  border-radius: 50px;
  cursor: pointer;
}
.btn-circle {
  width: 13px;
  height: 13px;
  border-radius: 50%;
}
.btn-label {
  font-family: "Assistant-Regular";
  font-size: 12px;
  line-height: 10px;
  margin-bottom: 11px;
  display: inline-block;
}
