.c-employee-card {
  width: 100%;
  height: 42px;
  display: flex;
  box-shadow: 0px 3px 6px 0px #e8e8e8;
}
.employee-name {
  margin: 0 0 0 auto;
  font-family: "Assistant-SemiBold";
  font-size: 18px;
  line-height: 9px;
}
.employee-wrap {
  width: 92%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrow-down {
  fill: #5d5d5d;
}
.arrow-up {
  fill: #5d5d5d;
  transform: rotate(-180deg);
}
.numbers-wrap {
  margin-left: 35px;
}
.num {
  font-family: "Assistant-Regular";
  font-size: 10px;
  line-height: 9px;
  margin-left: 13px;
}
.num:first-child {
  margin-left: 0;
}
.num-pending {
  color: #f5cc0c;
}
.num-approval {
  color: #338d12;
}
.num-reject {
  color: #ff0000;
}
.employee-card-btn {
  border: none;
  background-color: inherit;
}
