nav {
    width: 360px;
    margin: auto;
}

li {
    list-style: none;
    width: 90px;
}
nav > ul {
    display : flex;
}

ul {
    padding-right: 0px;
    
}
nav > ul > li {
    padding: 20px;
 
}

nav > ul > li > a {
    /* padding-right: 20px; */
    text-decoration: none;
    color: #1b166e;
}
a:hover {
    text-decoration: none;
}

/* nav > ul .active {
    background-color: lightblue;
} */

nav > ul a:active {
    background-color: lightblue;
}