.c-search-bar {
    display: flex;
    position: relative;
    align-items: center;
    
}

.c-search-bar > img{
    height: 20px;
    width:40px;
    cursor: pointer;


}

.c-search-bar .arrow{
    cursor: pointer;
}

.c-search-bar .input-container{
    flex-grow: 2;

    height: 45px;
    border-radius: 23px;
    background-color:#efefef;
    display: flex;
    align-items: center;
    padding-right: 13px;
}
.c-search-bar .input-container input{
    border:none;
    outline: none;
    background-color: transparent;
    color: #707070;
    flex-grow: 2;
    height: 100%;

    

}

.c-search-bar .nav-results{
    margin-right: auto;
    padding-left: 20px;
    min-width:40px;

}


