.c-button-set {
    border:1px;
    display: flex;
}
.c-button-set  .bt-worker:hover{
    box-shadow: 0 0 0 0.1rem rgb(0 123 255 / 25%);
}
.c-button-set  .bt-worker{
    display: flex;
    align-items: center;
    background-color:white;
    color: #5d5d5d;
    font-style: normal;
    font-size: 15px;
    align-content: center;
    margin-right:10px;
    height: 25px;
    border:none;
    outline:none;
    box-shadow: none;

}