.c-portal-table {
    color: #5d5d5d;
    font-size: small;
    width: 100%;
}
.c-portal-table th {
    font-family: Assistant-SemiBold;
}
.c-portal-table td {
    border-top-width: 3px;
}
.c-portal-table > tbody > tr {
    cursor: pointer;
}